// ::::: Base styles :::::
* {
    font-family: serif;
}

#logo {
    color: $blink_platinum;
    font-weight: 400;
    margin-left: 1rem;
}


.arrow-icon {
    display: none;
    fill: $blink_quick-silver;
    @media (min-width: 768px) {
        display: inline-block;
    }
}

li::marker {
    display: none;
}

#dash-tab-bar {
    // Sets up the dash bar layout
    display: grid;
    grid-template-columns: minmax(120px, 0.20fr) 1fr;
    align-items: center;
    justify-content: center;
    background-color: $blink_onxy;
    #dashboard-tab {
        background-color: $blink_platinum;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        border-top: solid 2px $blink_quick-silver;
        padding: 20px;
    }
    #empty-tab-bar {
        grid-column-start: 2;
        grid-column-end: 3;
        border-left: solid 2px $blink_quick-silver;
        border-bottom: solid 2px $blink_quick-silver;
        padding: 27px 10px;
    }
}

#alert-notification-bar {
    // Sets up the notification bar
    background-color: $blink_deep-space-sparkle;
    color: $blink_white;
    display: flex;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #alert-cancle-button {
        margin-left: auto;
    }
}

#submission-successfull-notification-bar {
    // Sets up the notification bar
    display: flex;
    background-color: $blink_medium-aqua-marine;
    color: $blink_white;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        
    }
    #submission-successfull-cancle-button {
        margin-left: auto;
    }
}

#submission-fail-notification-bar {
    // Sets up the notification bar
    display: flex;
    background-color: $blink_light-coral;
    color: $blink_white;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #submission-fail-cancle-button {
        margin-left: auto;
    }
}
canvas {
    max-width: 100%;
}

#daily-traffic {
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#web-traffic {
    // Sets up the chronological tab bar
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: .5rem 0;
        input {
            background-color: rgba(0, 47, 47, 0.25);
            color: $blink_white;
            border-radius: 0.5rem;
            border: none;
            font-family: 'Roboto', sans-serif;
            font-size: 0.875rem;
            letter-spacing: 1.25px;
            font-weight: 400;
            display: block;
            padding: 10px;
        }
    }
    #graph-container {
        max-width: 922px;
        margin: 0 auto;
    }
    #hourly-tab:focus,
    #daily-tab:focus,
    #weekly-tab:focus,
    #monthly-tab:focus {
        background-color: $blink_deep-space-sparkle;
    }
    #chronological-tab-bar > input:active {
        // Selects all the children elments of the chronological-tab-bar.
        // The elements mus be input thoug.
        background-color: $blink_medium-aqua-marine;
    }
    @media (min-width: 768px) {
        #chronological-tab-bar {
            flex-direction: row-reverse;
            // Sets the order of child elements.
            :nth-child(1) {
                order: 4;
            }
            :nth-child(2) {
                order: 3;
            }
            :nth-child(3) {
                order: 2;
            }
            :nth-child(4) {
                order: 1;
            }
        }
    }
}

#mobile-traffic {
    // Sets up the chronological tab bar
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#social-stats {
    background-color: $blink_white;
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#social-stats__card-container-facebook,
#social-stats__card-container-instagram,
#social-stats__card-container-twitter {
    // Sets up the card-container
    display: flex;
    flex-direction: row;
    background-color: $blink_platinum;
    border-radius: 7px;
    border: 1px solid $blink_quick-silver;
    padding: 0.7rem;
    margin-bottom: 1rem;
    .icon-container {
        // Sets the icon in the middle of the circle.
        // Sets the cize of the backgroun circle
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $blink_rich-black;
        align-items: center;
        svg {
            margin: 0 auto;
        }
    }
    .type-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
}

#new-members,
#recent-activity {
    // Sets up the new member section.
    // And also the recent activity section.
    background-color: $blink_white;
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    .new-members-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        p {
            margin: 5px 0;
        }
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
        img {
            width: 75px;
            border-radius: 50%;
        }
        .type-container {
            text-align: center;
            width: 100%;

            .email {
                color: $blink_rich-black;
                font-weight: 500;
            }
            @media (min-width: 768px) {
                text-align: left;
                margin-left: 1rem;
                :nth-child(3) {
                    text-align: right;
                }
            }
        }
    }
    hr {
        margin-top: 1rem;
        width: 90%;
        @media (min-width: 768px) {
            width: 100%;
        }
    }
    hr:last-child {
        display: none;
    }
}

#new-members{
    border-right: solid 1px $blink_quick-silver;
}

#message-user {
    // Sets up the message user section
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $blink_quick-silver;
    background-color: $blink_white;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#settings {
    // Sets up the settings section
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $blink_quick-silver;
    background-color: $blink_white;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    #profile-settings__wraper,
    #email-notification-settings__wraper {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 343px;
        label.switch {
            margin-left: auto;
        }
    }
    select {
        margin-top: 1rem;
    }
    .button-area {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        #cancle-button {
            background-color: $blink_quick-silver;
            flex-grow: 1;
            margin-left:5px;
        }
        #save-button {
            flex-grow: 1;
            margin-right:5px;
        }
    }
}
// ::::: Base styles :::::