// ::::: Typography styles :::::
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.9375rem;
    letter-spacing: -1.5px;
    font-weight: 600;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.625rem;
    letter-spacing: -0.5px;
    font-weight: 600;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.875rem;
    letter-spacing: 0px;
    font-weight: 400;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0625rem;
    letter-spacing: 0.25px;
    font-weight: 400;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4375rem;
    letter-spacing: 0px;
    font-weight: 400;
}
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1875rem;
    letter-spacing: 0.15px;
    font-weight: 500;
}
.subtitle-big {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9375rem;
    letter-spacing: 0.15px;
    font-weight: 400;
}
.subtitle-small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
    font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}
b {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 800;
}
p .small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    font-weight: 400;
}
button,
input {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1.25px;
    font-weight: 400;
}
p .overline {
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    font-weight: 400;
}
p.accent {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: $blink_rich-black;
    margin: 0;
}
p.big-number {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.15px;
    font-weight: 300;
    color: $blink_onxy;
    margin: 0;
}
.notification-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.25px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.notification-body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.25px;
    font-weight: 400;
    margin-top: 2px;
}
// ::::: Typography styles :::::