// This is where the VARIABLES at :::::::::


// Stored here: COLOR variables
$body-copy-color: #777;
$acent-color: #58e1c1;
$link-color: #51ddfc;
$def-btn-color: #51ddfc;
$err-btn-color: #e4757a;
$inf-btn-color: #927bc1;
$suc-btn-color: #63cc82;
$war-btn-color: #fd7856;

// Stored here: BORDERS and BORDER RADIUSES variables
$edge-curve-s: 5px;

// Stored here: MARGIN variables
$small-top-margin: 10px;
$small-left-margin: 10px;

// Stored here: BRAKE POINT variables
$break-l: 768px;

// Stored here: TAG NAMES variables
$lato: 'Lato', sans-serif;
$lh-med: 1.45em;

$fw-reg: 300;
$fw-bol: 700;

