// ------------------------------
// This file contains: Colors
// ------------------------------
$blink_white: #ffffff;
$blink_platinum: #E6E6E6;
$blink_medium-aqua-marine: #35DEA3;
$blink_light-coral: #ff8a8a;
$blink_rich-black: #002F2F;
$blink_deep-space-sparkle: #516969;
$blink_quick-silver: #A2A2A2;
$blink_onxy: #424242;
$blink_jet: #2F2F2F;
$blink_black: #000000;